.glassmorphism {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: aqua;
  
    /* This controls the blurring effect*/
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  
     /*Adding the shadow*/
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  
    z-index: 1;
}

/* Colors */
.background-gradient-primary {
    /* Alpha variant controls the trasnparency */
    background: linear-gradient(90deg, rgba(2, 44, 110, 0.171) 24%, rgba(95, 222, 228, 0.171) 77%, rgba(0,212,255, 0.171) 100%);
}

.background-secret-scociety {
    background: #464e5b;
}

.background-black {
    background: #000;
    border: 1px solid lightgrey;
}
